
h1 {
    color:rgba(76, 76, 76, 0);
    font-family: sans-serif;
    font-size: 10px;
}
h2 {
  color:rgba(0, 0, 0, 1);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 35px;
  font-weight: 150;
  margin: 0;
}
.container {
  padding: 10px 30px 10px 30px;
  margin: 10px auto;
  box-shadow: 0 0 30px rgba(150, 150, 150, 0.25);
  border-radius: 10px;
}
img {
  position: relative;
  height: 250px;
  width: 350px;
  overflow: hidden;
  object-fit: cover;
}
.station {
  color:rgba(120, 120, 120, 1);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 5;
}
.walk_time {
  color:rgba(100, 100, 150, 1);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 5;
}
.description {
  color:rgba(50, 50, 50, 1);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-weight: 400;
  margin: 5;
  text-align: justify;
}
.details {
  color:rgba(120, 120, 120, 1);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 5;
}
a {
  color:rgba(100, 100, 150, 1);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 5;
}
ul {
  list-style-type: none;
}
.btn-info {
  background-color: silver;
  border-color: silver;
}
.btn-dark {
  background-color: black;
  border-color: black;
  color: white;
}
.btn-light {
  background-color: brown;
  border-color: brown;
  color: white;
}
