h1 {
    color:rgba(76, 76, 76, 0);
    font-family: "Tahoma", sans-serif;
    font-size: 10px;
}
h2 {
  color:rgba(0, 0, 0, 1);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 42px;
  font-weight: 150;
  margin: 0;
}
img {
  position: relative;
  float:left;
  height: 285px;
  width: 300px;
  overflow: hidden;
  object-fit: cover;
  padding: 0 20px 0 0;
}
div {
  padding: 10px 30px 10px 30px;
  margin: 10px auto;
  box-shadow: 0 0 30px rgba(150, 150, 150, 0.25);
  border-radius: 10px;
}
.station {
  color:rgba(120, 120, 120, 1);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 5;
}
.walk_time {
  color:rgba(100, 100, 150, 1);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 5;
}
.description {
  color:rgba(50, 50, 50, 1);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 5;
  text-align: justify;
}
.details {
  color:rgba(120, 120, 120, 1);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 5;
}
a {
  color:rgba(100, 100, 150, 1);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 5;
}

#coppaclub_map {
    width: 100%;
    height: 400px;
    background-color: grey;
}
